@font-face {
  font-family: TradeGothic;
  src: url(http://www.disasteraccountability.org/assets/fonts/TradeGothicLTStd.eot);
  /* IE */
  src: local("TradeGothicLTStd"), url(http://www.disasteraccountability.org/assets/fonts/TradeGothicLTStd.otf) format("truetype");
}

@font-face {
  font-family: TradeGothicBold;
  src: url(http://www.disasteraccountability.org/assets/fonts/TradeGothicLTStd-Bold.eot);
  src: local("TradeGothicLTStd-Bold"), url(http://www.disasteraccountability.org/assets/fonts/TradeGothicLTStd-Bold.otf) format("truetype");
}

@font-face {
  font-family: TradeGothicThin;
  src: url(http://www.disasteraccountability.org/assets/fonts/TradeGothicLTStd-Light.eot);
  src: local("TradeGothicLTStd-Light"), url(http://www.disasteraccountability.org/assets/fonts/TradeGothicLTStd-Light.otf) format("truetype");
}

@font-face {
  font-family: TradeGothicBoldCond20;
  src: url(http://www.disasteraccountability.org/assets/fonts/tradegothicltstd-bdcn20-webfont.eot);
  src: local("TradeGothicLTStd-BdCn20"), url(http://www.disasteraccountability.org/assets/fonts/TradeGothicLTStd-BdCn20.otf) format("truetype");
}

@font-face {
  font-family: TradeGothicBoldTwo;
  src: url(http://www.disasteraccountability.org/assets/fonts/tradegothicltstd-bd2-webfont.eot);
  src: local("TradeGothicLTStd-Bd2"), url(http://www.disasteraccountability.org/assets/fonts/TradeGothicLTStd-Bd2.otf) format("truetype");
}

@font-face {
  font-family: TradeGothicCond18;
  src: url(http://www.disasteraccountability.org/assets/fonts/tradegothicltstd-cn18-webfont.eot);
  src: local("TradeGothicLTStd-Cn18.otf"), url(http://www.disasteraccountability.org/assets/fonts/TradeGothicLTStd-Cn18.otf) format("truetype");
}

body {
  background-color: #f8f8f8;
  color: #333333;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}

.container {
  width: 1000px;
  position: relative;
}

a {
  color: #079ab8;
}
a:hover {
  color: #045c6e;
}

header {
  background-color: #262626;
  color: #fff;
  display: block;
  border-bottom: 1px solid white;
  padding-top: 30px;
  min-height: 65px;
}
header .pageTitle {
  font-family: arial,helvetica,sans-serif;
  font-size: 2.5em;
  color: #fff;
  float: left;
  margin-right: 15px;
}
header .pageTitle a {
  color: #fff;
  text-decoration: none;
}
header .pageTitle span, header .pageTitle span a {
  color: #fff117;
}
header ul li {
  display: inline;
}

h3.teaser {
  font-size: 1.5em;
  line-height: 1.25em;
}

ul, ol {
  margin-left: 15px;
}
ul.inline-list li, ol.inline-list li {
  float: left;
  margin-right: 10px;
}

#quickNav {
  display: inline;
}
#quickNav a {
  display: inline-block;
  text-indent: -10000px;
  width: 27px;
  height: 27px;
}
#quickNav a.tsunamis {
  background-position: -103px 3px;
}
#quickNav a.fires {
  background-position: -138px 3px;
}
#quickNav a.hurricanes {
  background-position: -173px 3px;
}

nav ul li {
  display: inline;
}

#navigation {
  background-color: #4C4C4C;
  padding: 15px 0;
}
#navigation #mainNav {
  margin: 0;
  font-size: 0.9em;
  padding: 0;
}
#navigation #mainNav li {
  padding-right: 10px;
}
#navigation #mainNav li.on a {
  color: #000;
}
#navigation #mainNav li a {
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.9em;
  font-family: arial,helvetica,sans-serif;
}
#navigation #mainNav li a:hover {
  color: #262626;
}
#navigation #mainNav li a span {
  display: block;
  height: 25px;
  padding-left: 10px;
}

#navigationSecondary {
  border-bottom: 1px solid #CDCDCD;
  margin-bottom: 1px;
  min-height: 40px;
}
#navigationSecondary ul {
  margin: 0;
}
#navigationSecondary a, #navigationSecondary a:hover {
  font-size: 0.9em;
}

#donate {
  float: right;
  position: absolute;
  right: 0;
  top: 0;
}
#donate a.button, #donate a.button:visited, #donate a.button:hover {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-position: right -139px;
  color: #000;
  display: block;
  font-size: 1em;
  font-weight: bold;
  height: 33px;
  line-height: 33px;
  padding-right: 10px;
  text-decoration: none;
  text-transform: uppercase;
}
#donate a.button span, #donate a.button:visited span, #donate a.button:hover span {
  background-position: left -106px;
  display: block;
  padding-left: 10px;
}

#mainContent {
  padding: 15px 0 30px;
}
#mainContent h1 {
  text-align: center;
  margin-bottom: 20px;
}

.table-bordered,
.table {
  border-color: #ccc !important;
}
.table-bordered th,
.table th {
  font-size: 0.95em;
  text-transform: uppercase;
}
.table-bordered td,
.table td {
  font-size: 0.95em;
}
.table-bordered th, .table-bordered td,
.table th,
.table td {
  border-color: #ccc !important;
  max-width: 40%;
}
.table-bordered td:first-child,
.table td:first-child {
  font-weight: bold;
}

.table-striped tbody tr:nth-child(2n+1) td, .table-striped tbody tr:nth-child(2n+1) th {
  background-color: #ebebeb;
}

.sprite-icon {
  background-image: url(../img/sprite-icons.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  display: inline-block;
  width: 32px;
  height: 32px;
}
.sprite-icon.mental-health {
  background-position: 0 0;
}
.sprite-icon.jobs-work-programs {
  background-position: -32px 0;
}
.sprite-icon.long-term-housing {
  background-position: -64px 0;
}
.sprite-icon.infrastructure-development {
  background-position: 0 -32px;
}
.sprite-icon.shelter {
  background-position: -32px -32px;
}
.sprite-icon.water {
  background-position: -32px -64px;
}
.sprite-icon.food {
  background-position: 0 -64px;
}
.sprite-icon.health-medical {
  background-position: -32px -64px;
}

.disaster_overview {
  margin: 30px 0 10px;
}
.disaster_overview .span2 {
  text-align: right;
}
.disaster_overview .span2 .btn {
  padding: 10px 30px;
}
.disaster_overview .span3, .disaster_overview .span4 {
  text-align: center;
}

#money-spent,
#money-raised,
#burn-rate,
#boots-on-ground,
#services {
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}

#money-spent .number,
#boots-on-ground .number {
  font-size: 2.5em;
  color: #079ab8;
  margin: 20px 0;
}

#boots-on-ground .number {
  background: url(../img/icon-man-count.png) no-repeat scroll 36% top;
  margin-top: 13px;
  padding-top: 8px;
  padding-left: 57px;
  height: 50px;
}

#services .service-items {
  display: block;
  font-weight: normal;
  text-transform: none;
  text-align: left;
  width: 33%;
  float: left;
  margin-top: 10px;
}
#services .service-items i {
  float: left;
  margin: 0 36px;
}
#services .service-items > span {
  text-align: center;
  display: block;
  line-height: 1em;
}
#services b {
  display: block;
  clear: both;
}

footer {
  background-color: #262626;
  padding: 1em 0;
}
footer #footer h5, footer #footer ul {
  font-size: 0.85em;
}
footer #footer .social_bar li {
  font-size: 0.8em;
  margin-bottom: 4px;
}
footer ul {
  margin: 0;
}
footer ul li {
  list-style: none;
  line-height: 1.3em;
}

.row .column {
  display: inline;
  float: left;
  margin: 0 5px;
  position: relative;
}
.row .column.one-half {
  width: 132px;
}
.row .column.two {
  width: 170px;
}
.row .column.two.social {
  width: 190px;
}
.row .column.two.mailingList {
  width: 230px;
  margin: 0 15px 0 10px;
}
.row .column.four {
  width: 350px;
}

#command input.textField {
  height: 14px;
  width: 178px;
}
#command label.textField {
  font-size: 0.8em;
  line-height: 1.25em;
  color: #fff;
}

#connect-DAP {
  border-bottom: 1px solid #000;
  margin-left: 0;
}
#connect-DAP .column div {
  border-right: 1px solid #515151;
  height: 110px;
  padding-top: 5px;
}
#connect-DAP #report_issue.column div {
  border: none;
}
#connect-DAP #report_issue p {
  font-size: 1em;
}

#additional_links {
  border-top: 1px solid #444;
  margin-left: 0;
}

.relative {
  position: relative !important;
}

.border-none {
  border: none !important;
}

.show-grid {
  margin-top: 10px;
  margin-bottom: 20px;
}

.show-grid [class*="span"] {
  background-color: #eee;
  text-align: center;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  min-height: 30px;
  line-height: 30px;
}

.show-grid:hover [class*="span"] {
  background: #ddd;
}

.show-grid .show-grid {
  margin-top: 0;
  margin-bottom: 0;
}

.show-grid .show-grid [class*="span"] {
  background-color: #ccc;
}
