// Quickstart main.scss
// --------------------------------------------------
@import "variables";

@font-face{  
  font-family:TradeGothic;  
  src: url(http://www.disasteraccountability.org/assets/fonts/TradeGothicLTStd.eot); /* IE */  
  src:local("TradeGothicLTStd"), url(http://www.disasteraccountability.org/assets/fonts/TradeGothicLTStd.otf) format("truetype");  
} 

@font-face{  
  font-family:TradeGothicBold; 
  src: url(http://www.disasteraccountability.org/assets/fonts/TradeGothicLTStd-Bold.eot);
  src:local("TradeGothicLTStd-Bold"), url(http://www.disasteraccountability.org/assets/fonts/TradeGothicLTStd-Bold.otf) format("truetype");  
} 

@font-face{  
  font-family:TradeGothicThin;
  src: url(http://www.disasteraccountability.org/assets/fonts/TradeGothicLTStd-Light.eot);
  src:local("TradeGothicLTStd-Light"), url(http://www.disasteraccountability.org/assets/fonts/TradeGothicLTStd-Light.otf) format("truetype");  
} 

@font-face{  
  font-family:TradeGothicBoldCond20;  
  src: url(http://www.disasteraccountability.org/assets/fonts/tradegothicltstd-bdcn20-webfont.eot);
  src:local("TradeGothicLTStd-BdCn20"), url(http://www.disasteraccountability.org/assets/fonts/TradeGothicLTStd-BdCn20.otf) format("truetype");  
} 

@font-face{  
  font-family:TradeGothicBoldTwo; 
  src: url(http://www.disasteraccountability.org/assets/fonts/tradegothicltstd-bd2-webfont.eot);
  src:local("TradeGothicLTStd-Bd2"), url(http://www.disasteraccountability.org/assets/fonts/TradeGothicLTStd-Bd2.otf) format("truetype");  
} 

@font-face{  
  font-family:TradeGothicCond18;
  src: url(http://www.disasteraccountability.org/assets/fonts/tradegothicltstd-cn18-webfont.eot);
  src:local("TradeGothicLTStd-Cn18.otf"), url(http://www.disasteraccountability.org/assets/fonts/TradeGothicLTStd-Cn18.otf) format("truetype");  
} 



body { 
	background-color:$bodyBackground;
	color:$textColor;
	font-family:$sansFontFamily; 
	font-size:$baseFontSize;
}

.container { 
	width:$containerWidth;
	position:relative;
}

a { 
	color:$linkColor;
	&:hover { color:$linkColorHover; }
}
 
// ------------------------------
// HEADER
// ------------------------------
header { 
	background-color:$black;
	color:#fff;
	display:block;
	border-bottom: 1px solid white;
	padding-top:30px;
	min-height:65px;
	.pageTitle { 
		font-family: arial,helvetica,sans-serif;
		font-size:2.5em;
		color:#fff;
		float:left;
		margin-right: 15px;
		a { 
			color:#fff; 
			text-decoration:none; 
		}
		span, span a { 
			color:$yellow;
		}
	}
	ul li { display:inline; }
}

h3 { 
	&.teaser { 
		font-size: 1.5em;
		line-height: 1.25em;
	}
}

ul, ol {
	margin-left:15px;
	&.inline-list li { 
		float:left;
		margin-right:10px;
	}
}

#quickNav { 
	display:inline;
	a { 
		display:inline-block;
		text-indent:-10000px;
		width:27px;
		height:27px;
		&.tsunamis { background-position:-103px 3px; }
		&.fires { background-position:-138px 3px; }
		&.hurricanes { background-position: -173px 3px; }
	}
}


nav { 
	ul li { display:inline; }
}

#navigation { 
	background-color:#4C4C4C;
	padding:15px 0;
	#mainNav { 
		margin:0;
		font-size:0.9em;
		padding:0;
		li { 
			padding-right:10px;
			&.on a { color:#000; }
			a {
				color:#fff;
				text-transform:uppercase;
				font-weight:bold;
				font-size:0.9em;
				font-family: arial,helvetica,sans-serif;
				&:hover { color:$black; }
				span { 
					display:block;
					height:25px;
					padding-left: 10px;
				}
			}
		}
	}
}

#navigationSecondary { 
	border-bottom:1px solid #CDCDCD;
	margin-bottom:1px;
	min-height:40px;
	ul { margin:0; }
	a, a:hover { font-size:0.9em; }
}

#donate { 
	float:right;
	position:absolute;
	right:0;
	top:0;
	a.button, a.button:visited, a.button:hover { 
		font-family:$sansFontFamily; 
		background-position: right -139px;
		color:#000;
		display:block;
		font-size:1em;
		font-weight:bold;
		height:33px;
		line-height:33px;
		padding-right:10px;
		text-decoration: none;
		text-transform: uppercase;
		span { 
			background-position: left -106px;
			display:block;
			padding-left:10px;
		}
	}
}



// ------------------------------
// MAIN CONTENT
// ------------------------------
#mainContent { 
	padding:15px 0 30px;
	h1 { 
		text-align:center; 
		margin-bottom:20px; 
	}
}

.table-bordered,
.table { 
	border-color:#ccc !important;
	th { font-size:0.95em; text-transform:uppercase; }
	td { font-size:0.95em; }
	th, td { border-color:#ccc !important; max-width:40%; }
	td:first-child { 
		font-weight:bold;
	}
}

.table-striped tbody tr:nth-child(2n+1) {
	td, th { 
		background-color:#ebebeb;
	}
}

.sprite-icon { 
	background-image:url(../img/sprite-icons.png);
	background-repeat:no-repeat;
	background-position:0 0;
	display:inline-block;
	width:32px;
	height:32px;
	&.mental-health { background-position:0 0; }
	&.jobs-work-programs { background-position:-32px 0; }
	&.long-term-housing { background-position:-64px 0; }
	&.infrastructure-development { background-position:0 -32px; }
	&.shelter { background-position:-32px -32px; }
	&.water-and-sanitation { background-position:-32px -64px; }
	&.food { background-position:-64px 0; }
	&.health-medical { background-position:-64px -32px; }
	&.mass-care { }
	&.long-term-recovery { }
}



// DISASTER PAGE
// ------------------------------
.disaster_overview { 
	margin:30px 0 10px;
	.span2 { text-align:right; 
		.btn { padding:10px 30px;}
	}
	.span3, .span4 { text-align:center; }
}
#money-spent,
#boots-on-ground,
#services { 
	text-transform:uppercase;
	font-weight:bold; 
	text-align: center;
}
#money-spent,
#boots-on-ground { 
	.number { 
		font-size:2.5em;
		color:$linkColor; //#1E9A99; //#558300;
		margin:20px 0;
	}
}
#boots-on-ground { 
	.number { 
		background:url(../img/icon-man-count.png) no-repeat scroll 36% top;
		margin-top:13px;
		padding-top:8px;
		padding-left:57px;
		height:50px;
	}
}


// ------------------------------
// FOOTER 
// ------------------------------
footer { 
	background-color:$black;
	padding:1em 0;
	#footer { 
		h5, ul {
			font-size:0.85em;
		}
		.social_bar { 
			li { 
				font-size:0.8em; 
				margin-bottom:4px; 
			}
		}
	}
	ul { 
		margin:0; 
		li { 
			list-style: none;
			line-height: 1.3em;
		}
	}
}

.row { 
	.column {
		display: inline;
		float: left;
		margin:0 5px;
		position: relative;
		&.one-half { 
			width:132px;
		}
		&.two { 
			width:170px;
			&.social { width:190px; }
			&.mailingList { width:230px; margin:0 15px 0 10px; }
		}
		&.four { 
			width:350px;
		}
	}
}

#command {
	input.textField { 
		height:14px;
		width:178px;
	}
	label.textField { 
		font-size:0.8em;
		line-height:1.25em;
		color:#fff;
	}
}
#connect-DAP { 
	border-bottom:1px solid #000;
	margin-left:0;
	.column div {
		border-right:1px solid #515151;
		height:110px;
		padding-top: 5px;
	}
	#report_issue {
		&.column div {
			border:none;
		}
		p { font-size: 1em; }
	}
}
#additional_links { 
	border-top:1px solid #444;
	margin-left:0;
}


// ------------------------------
// MISC
// ------------------------------
.relative { position:relative !important; }
.border-none { border:none !important; }


// Utils
// -------------------------
.show-grid {
  margin-top: 10px;
  margin-bottom: 20px;
}
.show-grid [class*="span"] {
  background-color: #eee;
  text-align: center;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  min-height: 30px;
  line-height: 30px;
}
.show-grid:hover [class*="span"] {
  background: #ddd;
}
.show-grid .show-grid {
  margin-top: 0;
  margin-bottom: 0;
}
.show-grid .show-grid [class*="span"] {
  background-color: #ccc;
}