@font-face {
  font-family: TradeGothic;
  src: url(http://www.disasteraccountability.org/assets/fonts/TradeGothicLTStd.eot);
  /* IE */
  src: local("TradeGothicLTStd"), url(http://www.disasteraccountability.org/assets/fonts/TradeGothicLTStd.otf) format("truetype");
}

@font-face {
  font-family: TradeGothicBold;
  src: url(http://www.disasteraccountability.org/assets/fonts/TradeGothicLTStd-Bold.eot);
  src: local("TradeGothicLTStd-Bold"), url(http://www.disasteraccountability.org/assets/fonts/TradeGothicLTStd-Bold.otf) format("truetype");
}

@font-face {
  font-family: TradeGothicThin;
  src: url(http://www.disasteraccountability.org/assets/fonts/TradeGothicLTStd-Light.eot);
  src: local("TradeGothicLTStd-Light"), url(http://www.disasteraccountability.org/assets/fonts/TradeGothicLTStd-Light.otf) format("truetype");
}

@font-face {
  font-family: TradeGothicBoldCond20;
  src: url(http://www.disasteraccountability.org/assets/fonts/tradegothicltstd-bdcn20-webfont.eot);
  src: local("TradeGothicLTStd-BdCn20"), url(http://www.disasteraccountability.org/assets/fonts/TradeGothicLTStd-BdCn20.otf) format("truetype");
}

@font-face {
  font-family: TradeGothicBoldTwo;
  src: url(http://www.disasteraccountability.org/assets/fonts/tradegothicltstd-bd2-webfont.eot);
  src: local("TradeGothicLTStd-Bd2"), url(http://www.disasteraccountability.org/assets/fonts/TradeGothicLTStd-Bd2.otf) format("truetype");
}

@font-face {
  font-family: TradeGothicCond18;
  src: url(http://www.disasteraccountability.org/assets/fonts/tradegothicltstd-cn18-webfont.eot);
  src: local("TradeGothicLTStd-Cn18.otf"), url(http://www.disasteraccountability.org/assets/fonts/TradeGothicLTStd-Cn18.otf) format("truetype");
}

body {
  background-color: #f8f8f8;
  color: #333333;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
}

.container {
  width: 1000px;
  position: relative;
}

a {
  color: #079ab8;
}
a:hover {
  color: #045c6e;
}

header {
  background-color: #262626;
  color: #fff;
  display: block;
  border-bottom: 1px solid white;
  padding-top: 30px;
  min-height: 60px;
}
header .pageTitle {
  font-family: arial,helvetica,sans-serif;
  font-size: 2.5em;
  color: #fff;
  float: left;
  margin-right: 15px;
}
header .pageTitle a {
  color: #fff;
  text-decoration: none;
}
header .pageTitle span, header .pageTitle span a {
  color: #fff117;
}
header ul li {
  display: inline;
}

h3.teaser {
  font-size: 1.5em;
  line-height: 1.25em;
}

ul, ol {
  margin-left: 15px;
}
ul.inline-list li, ol.inline-list li {
  float: left;
  margin-right: 10px;
}

#quickNav {
  display: inline;
}
#quickNav a {
  display: inline-block;
  text-indent: -10000px;
  width: 27px;
  height: 27px;
}
#quickNav a.tsunamis {
  background-position: -103px 3px;
}
#quickNav a.fires {
  background-position: -138px 3px;
}
#quickNav a.hurricanes {
  background-position: -173px 3px;
}

nav ul li {
  display: inline;
}

#navigation {
  background-color: #4C4C4C;
  padding: 15px 0;
}
#navigation #mainNav {
  margin: 0;
  font-size: 0.9em;
  padding: 0;
}
#navigation #mainNav li {
  padding-right: 10px;
}
#navigation #mainNav li.on a {
  color: #000;
}
#navigation #mainNav li a {
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.9em;
  font-family: arial,helvetica,sans-serif;
}
#navigation #mainNav li a:hover {
  color: #262626;
}
#navigation #mainNav li a span {
  display: block;
  height: 25px;
  padding-left: 10px;
}

#navigationSecondary {
  border-bottom: 1px solid #CDCDCD;
  margin-bottom: 1px;
  min-height: 40px;
}
#navigationSecondary ul {
  margin: 0;
}
#navigationSecondary a, #navigationSecondary a:hover {
  font-size: 0.9em;
}

#donate {
  float: right;
  position: absolute;
  right: 0;
  top: -5px;
}
#donate a.button, #donate a.button:visited, #donate a.button:hover {
  font-family: Helvetica, Arial, sans-serif;
  background-position: right -139px;
  color: #000;
  display: block;
  font-size: 1em;
  font-weight: bold;
  height: 33px;
  line-height: 33px;
  padding-right: 10px;
  text-decoration: none;
  text-transform: uppercase;
}
#donate a.button span, #donate a.button:visited span, #donate a.button:hover span {
  background-position: left -106px;
  display: block;
  padding-left: 10px;
  padding-top: 3px;
}

#mainContent {
  padding: 25px 0 30px;
}
#mainContent h1 {
  font-size:3.25em;
  text-align: center;
  margin-bottom: 20px;
}

.table-bordered,
.table {
  border-color: #ccc !important;
}
.table-bordered th,
.table th {
  font-size: 0.95em;
  text-transform: uppercase;
}
.table-bordered td,
.table td {
  font-size: 0.95em;
}
.table-bordered th, .table-bordered td,
.table th,
.table td {
  border-color: #ccc !important;
  max-width: 40%;
}
.table-bordered td:first-child,
.table td:first-child {
  font-weight: bold;
}

.table-striped tbody tr:nth-child(2n+1) td, .table-striped tbody tr:nth-child(2n+1) th {
  background-color: #ebebeb;
}

.sprite-icon {
  background-image: url(../img/sprite-icons.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  display: inline-block;
  width: 32px;
  height: 32px;
}
.sprite-icon.mental-health {
  background-position: 0 0;
}
.sprite-icon.jobs-work-programs {
  background-position: -32px 0;
}
.sprite-icon.long-term-housing {
  background-position: -64px 0;
}
.sprite-icon.infrastructure-development {
  background-position: 0 -32px;
}
.sprite-icon.shelter {
  background-position: -32px -32px;
}
.sprite-icon.water,
.sprite-icon.water-sanitation {
  background-position: -64px -32px;
}
.sprite-icon.food {
  background-position: 0 -64px;
}
.sprite-icon.health-medical {
  background-position: -64px -64px;
}
.sprite-icon.mass-care {
  background-position: -32px -64px;
}
.sprite-icon.long-term-recovery {
  background-position: 0px -100px;
}

.disaster_overview {
  margin: 40px 0;
}
.disaster_overview .span2 {
  text-align: right;
}
.disaster_overview .span2 .btn {
  padding: 10px 30px;
}
.disaster_overview .span3, .disaster_overview .span4 {
  text-align: center;
}

#money-spent,
#money-raised,
#burn-rate,
#boots-on-ground,
#services {
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}

.donate .btn {
  padding: 11px 50px;
}

#money-spent .number,
#money-raised .number,
#burn-rate .number {
  font-size: 2em;
  color: #079ab8;
  margin: 10px 0 20px;
}

#boots-on-ground .number {
  background: url(../img/icon-man-count.png) no-repeat scroll 30% top;
  margin-top: 55px;
  padding-top: 8px;
  padding-left: 65px;
  height: 50px;
  color: #079ab8;
  font-size: 4em;
}

#services .service-items {
  display: block;
  font-weight: normal;
  text-transform: none;
  text-align: left;
  width: 33%;
  float: left;
  margin-top: 8px;
}
#services .service-items i {
  float: left;
  margin: 0 36px;
}
#services .service-items > span {
  text-align: center;
  display: block;
  line-height: 1em;
}
#services b {
  display: block;
  clear: both;
  margin-bottom: 10px;
}

#organization-stats h4,
#organization-background h4 { 
	background-color:#262626;
	color:#FFF117;
	padding:10px;
	font-weight: normal;
}

#organization-background .organization_summary {
	margin-bottom:15px;
}

#organization-stats ul {
  margin-left: 0;
  list-style: none;
}
#organization-stats li { 
	color:#666;
	line-height:28px;
}
#organization-stats ul li span {
  font-weight: bold;
  margin-left: 10px;
  color:#333;
}
#organization-stats .partner-org ul {
	margin:0 0 15px 15px;
}
#organization-stats .partner-org li { 
	line-height:20px;
}
.organization_contact_info { 
	margin:15px 0;
}
.organization_contact_info address { 
	display:block;
	margin: 5px 0 10px;
}
.organization_contact_info address .city,
.organization_contact_info address .state,
.organization_contact_info address .zip { 
	display:inline;
}
.organization_contact_info span { 
	display:block;
}

.relief-submission-form td:first-child { 
	font-weight:bold;
	text-align:right;
	padding-right:10px;
	width:200px;
	padding-top:9px;
	vertical-align:top;
}
.relief-submission-form td input { 
	width:472px;
}
.relief-submission-form .boot-type { 
	width:300px;
}
.relief-submission-form .boot-count {
	width:150px;
	margin-left:5px;
}
.relief-submission-form .btn { 
	padding:11px 50px;
	width:auto;
}

.ui-autocomplete.ui-menu {
	max-height:400px;
	overflow: scroll;
}
.ui-autocomplete.ui-menu .ui-state-hover,
.ui-autocomplete.ui-menu .ui-state-focus { 
	background-image:none;
	background-color:#ddd;
	border:none;
}

footer {
  background-color: #262626;
  padding: 1em 0;
}
footer #footer h5, footer #footer ul {
  font-size: 0.75em;
}
footer #footer ul{
	  border-top: 1px solid #444;
	  padding-top: 18px;
}
footer #footer h5{
	  border-bottom: 1px solid #000;
	  margin-bottom: 0;
	  padding-bottom: 10px;
	  padding-top: 6px;
}
footer #footer .social_bar li {
  font-size: 0.8em;
  margin-bottom: 4px;
}
footer #footer ul.social_bar{
	border: 0;
	padding-top: 0;
}
footer h3.teaser{
	font-weight: normal;
	font-size: 2em;
}
footer .mailingList label{
	line-height: 1em;
}
footer ul {
  margin: 0;
}
footer ul li {
  list-style: none;
  line-height: 1.3em;
}
footer #footer h5 a{
	color:#17C2FF !important;
}

.row .column {
  display: inline;
  float: left;
  margin: 0 5px;
  position: relative;
}
.row .column.one-half {
  width: 156px;
}

.row .column.one-half.aboutUs {
  width: 165px;
  margin-right: 0;
}
.row .column.two {
  width: 170px;
}
.row .column.two.social {
  width: 190px;
}
.row .column.two.mailingList {
  width: 230px;
  margin: 0 15px 0 10px;
}
.row .column.four {
  width: 350px;
}

#command input.textField {
  height: 14px;
  width: 178px;
}
#command label.textField {
  font-size: 0.8em;
  line-height: 1.25em;
  color: #fff;
}

#connect-DAP {
  border-bottom: 1px solid #000;
  margin-left: 0;
}
#connect-DAP .column div {
  border-right: 1px solid #515151;
  height: 110px;
  padding-top: 5px;
}
#connect-DAP #report_issue.column div {
  border: none;
}
#connect-DAP #report_issue p {
  font-size: 1em;
}

#additional_links {
  border-top: 1px solid #444;
  margin-left: 0;
}

.relative {
  position: relative !important;
}

.border-none {
  border: none !important;
}
